* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "GraphikLCG";
    src: url("fonts/GraphikLCG-Regular.otf"), 
}

@font-face {
    font-family: "GraphikLCG-Bold";
    src: url("fonts/GraphikLCG-Bold.otf");
}

body {
    font-family: "GraphikLCG", Helvetica, sans-serif ;
}

b {
    font-family: "GraphikLCG-Bold", sans-serif;
}

header {
    padding: 40px;
    text-align: center;
}

.block {
    width: 100%;
    padding: 20px;
}

.b01 {
    background: url(../img/products.jpg) no-repeat;
    background-size: cover;
    color: #fff;
    font-size: 30px;
    text-align: center;
}

.b01 p {
    max-width: 50%;
    text-align: justify;
    padding: 100px 0 150px 30px;
}

.b01 img {
    margin-bottom: 200px;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 70px;
    transition: all .3s;
}

.b01 img:hover {
    background: rgba(255,255,255,.3);
}

.b02 {
    margin: 0 auto;
    text-align: center;
}

.b02 p {
    display: inline-block;
    max-width: 45%;
    padding: 100px 0;
    font-size: 30px;
    text-align: justify;
}

.block-img {
    max-width: 500px;
    display: inline-block;
}

.b03 {
    margin: 0 auto;
    text-align: center;
}

.b03 p {
    display: inline-block;
    max-width: 45%;
    padding: 100px 0;
    font-size: 30px;
    text-align: justify;
}

.b03 img {
    padding: 30px;
}

.b04 {
    text-align: center;
    font-size: 30px;
    padding: 60px;
    background: #4cc7e9;
}

.b05 {
    text-align: center;
    margin-bottom: 100px;
}

.button_listen {
    background: #4cc7e9;
    color: #fff;
    transition: all .3s;
    font-weight: bold;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 10px;
}

.button_listen:hover {
    background: #333741;
}


footer{
    background: #000;
    padding: 100px;
    text-align: center;
}

footer p {
    display: inline-block;
    font-size: 20px;
    position: relative;
    top: -20px;
    color: #fff;
}

.logo_bottom {
    width: 120px;
    display: inline-block;
    margin-left: 10px;
}

.links {
    margin-top: 30px;
}

.links a {
  color: #fff;
  text-decoration: none;  
  transition: all 0.2s;
  padding: 5px 10px;
  font-size: 20px;
}

.links a:first-of-type {
    border-right: 1px solid #f2f2f2;
}

.links a:hover {
    color: #4cc7e9;
}

.text_box_ .container {width: 100%; padding: 0;}
	.controls, .container-filter {display:table; width:100%}
	button.control:focus, button.control:hover, button.control:active {
        outline:none}
    .controls {
        margin-bottom: 100px;
    }
    button.control:hover {
        background: #333741;
        cursor: pointer;
    }
	button.control {
		border:0; background:#4cc7e9; padding:0; width:32%; margin:0 auto;
		display:inline-block; text-decoration: none;
		height:50px; color:#fff; font-size:14px; font-weight:bold; transition: all .3s;}
	button.control.mixitup-control-active{background:#393939}

	.more-link {overflow:hidden; padding:15px 0; text-align:center}
	.more-link a {display:inline-block; line-height:35px; color:#fff; font-weight:bold; font-size:16px; padding:0 20px; background:#4cc7e9}
	.text_box_ {
		max-width:1100px; margin:0 auto}
	.text_box_ img {max-width:100%}
	.text_reg {overflow:hidden}
	.text_reg-link {
		display:block; color:#fff; text-align:center; text-decoration:none; font-weight:bold; font-size:15px;
		background:#4cc7e9; width:280px; line-height:35px;  margin:15px auto 0}
	.text_reg-link:hover {color:#fff; background:#222}
	.t-center {
		text-align:center}
	.text_box_action {
		max-width: 660px; display:table; background:#fff; margin:15px auto 0}
	.mix, .list-action {
		width:210px; margin:5px; text-align:center; float:left}
	.mix .list-action {margin:0}
	.list-action a {
		text-decoration:none; display:block; overflow:hidden; color:#222}
	.list-action a:hover {
		box-shadow:0 1px 15px #ccc}
	.list-action a:hover img {
		transform:scale(1.08)}
	.list-action a:hover .list-action-img {
		border-color:#fff}
	.list-action a:hover .list-action-more {
		border:1px solid #4cc7e9; padding:5px 15px}
	.list-action-img {
		padding:6px; border:1px solid #ddd}
	.list-action-img img {
		display:block; width:100%; height:auto; margin:0 auto}
	.list-action-title {
		padding-top:15px; font-size:15px}
	.list-action-price {
		padding:12px 0 0; font-size:16px; font-weight:bold}
	.list-action-ser {
		padding-bottom:15px; font-size:13px; font-weight:bold}
	.list-action-more {
		font-size:15px; font-weight:bold;
		display:table; margin:10px auto 15px; color:#4cc7e9;
		line-height:20px; padding:5px 0; border:1px solid #fff; border-bottom:1px solid #4cc7e9}

	.list-action a, .list-action-img, 
	.list-action-img img, .list-action-more {
		transition:0.3s ease-in-out}
	.all_tov {
		color:#fff; font-size:17px; line-height:50px; text-align:center; font-weight:bold; background:#222; margin-top:50px; margin-bottom:15px}



@media only screen and (max-width:2200px) and (min-width:1024px) {
		.text_reg-link.mob {display:inline-block; margin:0 10px}
		.last-c {
			margin:0; margin-top:5px; margin-left:80px}
        .list-action-img {height:210px}
    }
        
@media screen and (max-width: 1400px) {
    .b01 p {
        max-width: 80%;
        padding: 50px 20px 200px 20px;
    }
}
	

@media only screen and (max-width:1023px) and (min-width:300px) {
		.list-action, .mix {
			width:48%; margin:1%}
        .mix .list-action {width:100%}
        .b01 p {
            max-width: 100%;
        }
	}





@media screen and (max-width: 900px) {
    .b02 p, .b03 p {
        max-width: 80%;
    }

    .b04 {
        font-size: 20px;
        padding: 50px;
    }
}


@media screen and (max-width: 600px) {
    .b01 p {
        max-width: 100%;
        padding: 50px 10px 50px 10px;
        font-size: 20px;
    }
    .b01 img {
        margin-bottom: 100px;
    }

    .block-img {
        max-width: 90%;
        display: block;
        margin: 0 auto;
    }

    .b02 p, .b03 p {
        max-width: 100%;
        font-size: 20px;
    }

    footer {
        padding: 30px;
    }

    .links a {
        font-size: 16px;
    }


    
}

@media only screen and (max-width:450px) and (min-width:300px) {
    .list-action-more {font-size:13px}
}